* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Roboto", serif;
  color: #473452;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bellota", serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

.section-text {
  color: #888888;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 42px;
}
@media all and (min-width: 768px) {
  .section-text {
    width: 80%;
  }
}

.container {
  text-align: center;
  padding: 0 24px;
  width: 100%;
  margin: 0 auto;
  margin-top: 64px;
}
@media all and (min-width: 768px) {
  .container {
    max-width: 90%;
    width: 90%;
  }
}
@media all and (min-width: 992px) {
  .container {
    max-width: 70%;
    width: 70%;
  }
}

.about .container .title-description, .main-header .container .header-container .title-description {
  margin: 24px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Bellota", serif;
}

.upper-nav-bar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
.upper-nav-bar .container {
  margin-top: 0px;
  margin-bottom: 0px;
}
.upper-nav-bar .container .nav-align-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}
.upper-nav-bar .container .nav-align-box .nav-img img {
  width: 100px;
}
.upper-nav-bar .container .nav-align-box .hamburger-icon {
  display: none;
  line-height: 100px;
  color: #1ba5cd;
  font-size: 32px;
}
.upper-nav-bar .container .nav-align-box .hamburger-icon:hover {
  cursor: pointer;
}
.upper-nav-bar .container .nav-align-box .actual-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 24px;
  text-align: end;
  width: 400px;
  background-color: #1ba5cd;
}
.upper-nav-bar .container .nav-align-box .actual-menu .menu-close-icon {
  display: inline-block;
  line-height: 100px;
  margin-top: 24px;
  font-size: 32px;
}
.upper-nav-bar .container .nav-align-box .actual-menu .menu-close-icon:hover {
  cursor: pointer;
}
.upper-nav-bar .container .nav-align-box .actual-menu .nav-links {
  list-style-type: none;
  text-transform: uppercase;
  padding-right: 40px;
  z-index: 5;
}
.upper-nav-bar .container .nav-align-box .actual-menu .nav-links li a {
  color: #fff;
  font-size: 52px;
  line-height: 2em;
  text-decoration: none;
  font-weight: 700;
}
.upper-nav-bar .container .nav-align-box .actual-menu .nav-links li a:hover {
  cursor: pointer;
}
.upper-nav-bar .container .nav-align-box .visibility {
  display: block;
}

@media all and (min-width: 768px) {
  .upper-nav-bar .container .nav-align-box {
    justify-content: flex-start;
  }
  .upper-nav-bar .container .nav-align-box .hamburger-icon {
    display: none;
  }
  .upper-nav-bar .container .nav-align-box .actual-menu {
    position: relative;
    display: block;
    background-color: transparent;
    text-align: start;
    width: 70%;
  }
  .upper-nav-bar .container .nav-align-box .actual-menu .menu-close-icon {
    display: none;
  }
  .upper-nav-bar .container .nav-align-box .actual-menu .nav-links {
    display: flex;
    margin-top: 32px;
    justify-content: flex-start;
    width: 100%;
  }
  .upper-nav-bar .container .nav-align-box .actual-menu .nav-links li {
    margin: 12px;
  }
  .upper-nav-bar .container .nav-align-box .actual-menu .nav-links li a {
    color: #473452;
    font-size: 16px;
  }
}
.main-header {
  position: relative;
  padding-top: 120px;
  z-index: 0;
}
.main-header .container {
  text-align: inherit;
  margin-top: 0px;
}
.main-header .container .header-container .title-paragraph {
  color: #555555;
}
@media all and (min-width: 768px) {
  .main-header .container .header-container {
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .main-header .container .header-container {
    width: 65%;
  }
}
.main-header .container .header-container .btn-container {
  display: flex;
}
.main-header .container .header-container .btn-container .button-primary {
  border-radius: 0px;
}
.main-header .container .header-container .btn-container .watch-now {
  display: flex;
  margin-left: 24px;
  text-decoration: none;
  color: #555555;
  line-height: 44px;
}
.main-header .container .header-container .btn-container .watch-now .play-icon {
  display: inline-block;
  color: #473452;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 24px;
  line-height: 44px;
  border: 1px solid #555555;
  border-radius: 50%;
}
.main-header .container .header-container .btn-container .watch-now .play-icon:before {
  margin-left: 5px;
}
@media all and (min-width: 768px) {
  .main-header .container {
    padding-top: 150px;
  }
}
.main-header .container .header-flowers {
  position: absolute;
  left: 0;
  top: 35%;
  z-index: -10;
  max-width: 10%;
}
.main-header .container .header-bg-image {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 35%;
  width: 35%;
  z-index: 200;
  display: none;
}
@media all and (min-width: 992px) {
  .main-header .container .header-bg-image {
    display: block;
  }
}
@media all and (min-width: 1200px) {
  .main-header .container .header-bg-image {
    max-width: 40%;
    width: 40%;
  }
}

.about .container img {
  width: 100px;
}

.button-secondary, .button-primary {
  padding: 12px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 9999px;
}
.button-primary {
  background-color: #1ba5cd;
}
.button-primary:hover {
  background-color: #555555;
}

.button-secondary {
  background-color: #555555;
}
.button-secondary:hover {
  background-color: #1ba5cd;
}/*# sourceMappingURL=style.css.map */