

$primary-font: "Roboto", serif;
$secondary-font: "Bellota", serif;

$color-violet: #473452;
$color-blue: #1ba5cd;
$color-light-gray: #888888;
$color-dark-gray: #555555;
$color-anthracite: #30383b;
$color-white: #fff;

$width-small: 576px;
$width-medium: 768px;
$width-large: 992px;
$width-extra-large: 1200px;