* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-family: $primary-font;
    color: $color-violet;
}

h1 {
    font-family: $secondary-font;
    font-size: 60px;
}

.container {
    padding: 0;
    width: 90%;
    margin: 0 auto;

    @media all and (min-width: $width-medium) {
        padding: 0px 24px;
        max-width: 90%;
        width: 90%;
    }

    @media all and (min-width: $width-large) {
        max-width: 60%;
        width: 60%;
    }
}