* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-family: $primary-font;
    color: $color-violet;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

.section-text {
    color: $color-light-gray;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 42px;

    @media all and (min-width: $width-medium) {
        width: 80%;
    }
}

.container {
    // display: block;
    text-align: center;
    padding: 0 24px;
    width: 100%;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;

    @media all and (min-width: $width-medium) {
        // padding: 0px 24px;
        max-width: 90%;
        width: 90%;
    }

    @media all and (min-width: $width-large) {
        max-width: 70%;
        width: 70%;
    }
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

.col-md-50p {
    @media all and (min-width: $width-medium) {
        width: 50%;
    }
}

.col-md-33p {
    @media all and (min-width: $width-medium) {
        width: 33.33%;
    }
}

.col-lg-25p {
    @media all and (min-width: $width-large) {
        width: 25%;
    }
}


%title-description {
    .title-description {
        margin: 24px 0;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $secondary-font;
    }
}

.infobox-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .infobox-holder {

        padding: 0 6px;

        .infobox {
            padding: 12px;
            border: 1px solid #f0f0f0;
            // margin: 0 12px;

            &:hover {
                box-shadow: 0 5px 20px #f0f0f0;
                ;
            }

            p {
                color: $color-light-gray;
                font-weight: 300;
                margin-bottom: 32px;
                font-size: 14px;
            }

            img {
                width: 100%;
            }

            .button-primary {
                margin-bottom: 20px;
            }
        }
    }
}

input,
textarea,
select {
    width: 100%;
    margin-bottom: 12px;
    border: 0px;
    border-bottom: 1px solid $color-white;
    font-size: 16px;
    color: $color-white;
    background-color: $color-blue;
    padding: 12px;
    font-size: 14px;
}

textarea {
    height: 100px;
}

input,
select {
    @media all and (min-width: $width-medium) {
        width: 49%;
    }
}

input::placeholder,
        textarea::placeholder {
            text-transform: uppercase;
            color: $color-white;
            opacity: 1;
        }

form {
    .button-primary {
        border: 1px solid $color-blue;
        display: inline-block;
        background-color: $color-white;
        color: $color-violet;
        font-weight: 700;
        padding: 12px;
        transition: all 0.3s;

        &:hover {
            border: 1px solid $color-white;
            background-color: $color-blue;
            color: $color-white;
            cursor: pointer;
        }

    }
}