.upper-nav-bar {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $color-white;

    .container {
        margin-top: 0px;
        margin-bottom: 0px;

        .nav-align-box {

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0px;

            .nav-img {

                img {
                    width: 100px;
                }
            }

            .hamburger-icon {
                display: none;
                line-height: 100px;
                color: $color-blue;
                font-size: 32px;

                &:hover {
                    cursor: pointer;
                }
            }

            .actual-menu {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                padding-right: 24px;
                text-align: end;
                width: 400px;
                background-color: $color-blue;

                .menu-close-icon {
                    display: inline-block;
                    line-height: 100px;
                    margin-top: 24px;
                    font-size: 32px;

                    &:hover {
                        cursor: pointer;
                    }

                }

                .nav-links {
                    list-style-type: none;
                    text-transform: uppercase;
                    padding-right: 40px;
                    z-index: 5;

                    li {

                        a {
                            color: $color-white;
                            font-size: 52px;
                            line-height: 2em;
                            text-decoration: none;
                            font-weight: 700;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

            }

            .visibility {
                display: block;
            }

        }
    }
}

@media all and (min-width: $width-medium) {
    .upper-nav-bar {

        .container {

            .nav-align-box {

                justify-content: flex-start;

                .hamburger-icon {
                    display: none;
                }

                .actual-menu {
                    position: relative;
                    display: block;
                    background-color: transparent;
                    text-align: start;
                    width: 70%;

                    .menu-close-icon {
                        display: none;
                    }

                    .nav-links {
                        display: flex;
                        margin-top: 32px;
                        justify-content: flex-start;
                        width: 100%;

                        li {
                            margin: 12px;

                            a {
                                color: $color-violet;
                                font-size: 16px;
                            }
                        }
                    }

                }

            }
        }
    }
}